.button {
	background-color: #3f51b5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* Align buttons with the text fields */
	/*padding-left: 90px; !* same size as the label elements *!*/
}

.button:hover {
	cursor: pointer;
}

.table-wrapper
{
	border: 1px solid #CCC;
	border-radius: 1em;
	width: 500px;
	height: 200px;
	overflow: auto;
	padding-left: 20px;
}

td, th {
	border: 1px solid #999;
	padding: 0.5rem;
}
