.button {
	background-color: #3f51b5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/* Align buttons with the text fields */
	/*padding-left: 90px; !* same size as the label elements *!*/
}

.button:hover {
	cursor: pointer;
}
